body {
  background-color: #eee;
  font-family: arial;
  margin: 0px;
}

#doc {
  margin-top: 8px;
  overflow: scroll;
}

#ruler {
  height: 14px;
  background-color: #eee;
  border-bottom: solid 1px #ddd;
}

.ruler-inner {
  margin: auto;
  width: 637px;
  background-color: white;
  height: 14px;
}

.page {
  cursor: text;
  background-color: white;
  border: solid #ccc 1px;
  width: 637px;
  height: 883px;
  padding: 120px 80px;
  margin: auto;
}

.para {
  position: relative;
  margin-bottom: 5px;
  min-height: 1em;
}

#cursor {
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: black;
  top: 0;
}

#measure-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: gray;
}
