body {
  background-color: #ccc;
  font-family: arial;
}

.page {
  background-color: white;
  border: solid grey 1px;
  width: 797px;
  height: 1123px;
  padding: 20px 20px;
  margin: auto;
}

.para {
  position: relative;
  margin-bottom: 10px;
  min-height: 1em;
}

#cursor {
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: black;
  top: 0;
}

#measure-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: gray;
}
